extends layout

block body
  #main
    .inputs
      p
        label(for='url') URL
        input(id='url', value='#{url}', type='text', size='57', onclick='this.select()')
      p
        label(for='md') Markdown
        input(id='md', value='![](#{url})', type='text', size='50', onclick='this.select()')
    img(src='#{url}')
