extends layout

block body
  #main
    .inputs
      label(for='url') URL
      input(id='url', value='#{url}', type='text')
      label(for='md') Markdown
      input(id='md', value='![](#{url})', type='text')
    img(src='#{url}')
